@model IEnumerable<ShoppingSystem.Models.OrderDetails>

@{
    ViewData["Title"] = "Details";
}

<h1>Order Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderDetails in Model) 
        { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => orderDetails.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orderDetails.Quantity)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@orderDetails.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@orderDetails.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
